* {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: black;
}
.titular {
    font-size: 24px;
    
}
.precios {
    font-size: 18px;
}
.descuentos-descripcion {
    font-size: 16px;
}

